body {
	font-family:  'Open Sans' , sans-serif;
}

#pre-footer { 
    background-color: #002540;
    padding: 3rem 1.5rem 6rem;
    font-color: white;
}

.column{
		display:  flex;
		flex-wrap: wrap;
		
	}

.hic{
	padding:  50px;
	flex-wrap: inherit;
	color: white;
}

div{

  padding-top: 25px;
  align-content: horizontal;



}

.header{
	text-align: center;
}

